@use "px-to-rem" as *;

ion-segment {
    height: px-to-rem(40px);
    width: px-to-rem(280px);
    margin: 0 auto;

    ion-label {
        font-size: px-to-rem(18px);
    }
}

ion-content {
    --background: #f6f6f6 !important;
}

.back {
    height: px-to-rem(30px);
    line-height: px-to-rem(30px);
    background-color: #f6f6f6;
    padding-left: 10px;
}

.segment-button-checked {
    background-color: var(--app-primary-color) !important;
    --indicator-color: var(--app-primary-color);
    color: #fff;
}

.order_info {
    background-color: red;
    width: px-to-rem(340px);
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: px-to-rem(10px);
    padding: px-to-rem(20px);
    box-shadow: px-to-rem(12px) px-to-rem(80px) px-to-rem(6px) rgba(199,199,199,0.08);

    .verify{
        font-size: px-to-rem(14px);
        color: #976F57;
        display: inline-block;
        text-align: left;
        width: 100%;
        // margin-bottom: px-to-rem(10px);
    }
}

.store_div {
    width: px-to-rem(310px);
    height: px-to-rem(70px);
    background-color: #f6f6f6;
    padding: px-to-rem(10px);
    margin-top: px-to-rem(10px);
    font-size: px-to-rem(16px);
    border-radius: px-to-rem(6px);
    .store_name {
        font-weight: bold;
        margin-bottom: px-to-rem(5px);
    }
    .store_info {
        width: 100%;
        color: #2d2f32;
        font-size: px-to-rem(14px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            width: px-to-rem(200px);
        }
    }
}

.form-container {
    width: 100%;
    font-size: px-to-rem(16px);
}

// 表单行：标签+输入框+按钮 横向布局
.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //   margin-bottom: 1.2rem;
    position: relative;
    margin-top: px-to-rem(20px);
}

.form-label {
    //   flex: 0 0 80px;
    width: px-to-rem(120px);
    font-size: px-to-rem(14px);
    color: #2D2F32;

    .required {
        color: #ff0000;
        margin-right: 4px;
    }
}

// 输入框样式
.form-input {
    flex: 1; // 输入框占剩余宽度

    height: 40px;
}

// 错误输入框样式
.form-input.invalid {
    --border-color: var(--ion-color-danger);
    --color: var(--ion-color-danger);
}

// 验证码按钮样式
.code-btn {
    width: px-to-rem(70px);
    height: px-to-rem(36px);
    font-size: px-to-rem(12px);
}

// 错误提示（在输入框下方）
.error-msg {
    position: absolute;
    left: 20px; // 对齐标签右侧
    bottom: px-to-rem(-18px);
    font-size: px-to-rem(12px);
    color: var(--ion-color-danger);
}
