@use 'px-to-rem' as *;


.store-card {
    width: 90%;
    height: px-to-rem(100px);
    background-color: #fff;
    margin: 0 auto;
    transform: translateY(#{px-to-rem(-50px)});
    border-radius: px-to-rem(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: px-to-rem(10px);

    .avatar {
        width: px-to-rem(80px);
        height: px-to-rem(80px);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
            border-radius: px-to-rem(10px);
        }
    }

    .store-wrap {
        width: calc(100% - #{px-to-rem(100px)});
        height: px-to-rem(80px);
        padding: px-to-rem(5px) px-to-rem(30px);
        font-size: px-to-rem(18px);
        border-left: 1px solid #eee;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .store_name {
            font-weight: bold;
            font-size: px-to-rem(22px);
            color: #000;
        }

        .store_desc {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            color: #999999;
        }

        .more {
            position: absolute;
            bottom: px-to-rem(5px);
            right: px-to-rem(10px);
            color: #f37e01;
            font-weight: bold;
        }
    }
}

.slogan {
    background-color: #000;
    color: #f48103;
    font-size: px-to-rem(14px);
    width: 90%;
    height: px-to-rem(40px);
    margin: 0 auto;
    line-height: px-to-rem(50px);
    padding-left: px-to-rem(10px);
    transform: translateY(#{px-to-rem(-60px)});
    z-index: -1 !important;
    position: relative;
    border-radius: px-to-rem(10px);
}

.diners {
    width: 90%;
    height: px-to-rem(40px);
    margin: 0 auto;
    font-size: px-to-rem(20px);
    background-color: #e86b0f;
    padding: px-to-rem(5px) px-to-rem(10px);
    text-align: center;
    border-top-left-radius: px-to-rem(10px);
    border-top-right-radius: px-to-rem(10px);
    color: #fff;
}

.din-button {

    width: 90%;
    height: px-to-rem(90px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: px-to-rem(20px);

    span {
        width: 24%;
        height: px-to-rem(35px);
        line-height: px-to-rem(35px);

        background-color: #f5f5f5;
        font-size: px-to-rem(18px);
        display: inline-block;
        text-align: center;
        border-radius: px-to-rem(50px);
        color: #000;
    }

    .active {
        background-color: #FAE1CF;
        color: #E9731C;
    }
}

.note{
    font-size: px-to-rem(14px);
    color: red;
    position: absolute;
    left: px-to-rem(20px);

}

::ng-deep .custom-input{
    font-size: px-to-rem(18px);
    width: 90%;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: px-to-rem(50px);
    text-align: center;
    margin-top: px-to-rem(20px);
    color: #999999;
}

.start-button{
     width: 90%;
    margin: 0 auto;
    height: px-to-rem(40px);
    line-height: px-to-rem(40px);
    background-color: #E9731C;
    border-radius: px-to-rem(6px);
    color: #fff;
    text-align: center;
    font-size: px-to-rem(18px);
    margin-top: px-to-rem(40px);
}
