<ion-content>
    <app-carousel [images]="images" [interval]="5000"></app-carousel>

      <div class="language-selector">
      <app-language-selector></app-language-selector>
    </div>


    <div class="store-card">
        <ion-avatar class="avatar">
            <img
                alt="logo"
                src="https://pic.rmb.bdstatic.com/bjh/news/3fe6db1a8d291be39192f9a06c74ce99.png"
            />
        </ion-avatar>

        <div class="store-wrap" (click)="navigateToStoreDetail()">
            <div class="store_name">{{storeInfo().name}}</div>
            <div class="store_desc">
                {{storeInfo().address}}
            </div>
            <div class="more"> <ion-icon name="chevron-forward-outline"></ion-icon> </div>
        </div>
    </div>


    <div class="slogan">{{storeInfo().tagline}}</div>

    <div class="diners">{{"app.home.selectNumber" | translate}}</div>

    <div class="din-button">
        @for (num of diningList; track $index) {
            <span [class.active]="getDiningPeople() === num" (click)="selectPeople(num)">
                {{ num }}
            </span>
        }
    </div>
    <ion-input
        class="custom-input"
        label=""
        type="number"
        [formControl]="dinerCount"
        (ionBlur)="customBlur()"
        [placeholder]="'app.home.customNumber' | translate"
    ></ion-input>
    @if (dinerCount.invalid && dinerCount.touched) {
        <ion-note color="danger" class="note"> {{"app.home.numberValidate" | translate}} </ion-note>
    }


    <div class="start-button" (click)="startOrder()">{{"page.startBtn" | translate}}</div>

</ion-content>
