@use "px-to-rem" as *;

.menu-container {
    --ion-background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.category-list {
    width: 100%;
    height: px-to-rem(40px);
    display: flex;
    background: #f5f5f5 !important;
    overflow-x: scroll;
    // padding: 0 px-to-rem(10px);
    font-size: px-to-rem(14px);

    .category-item {
        background-color: #f5f5f5;
        width: px-to-rem(100px);
        display: block;
        line-height: px-to-rem(40px);
        span {
            background-color: #f5f5f5;

            width: px-to-rem(100px);
            text-align: center;
            display: inline-block;
        }
    }
    .active {
        background-color: #fff;
        color: #e36d15;
        span {
            background-color: #fff;
        }
    }
}

.menu-content {
    .right {
        width: 100%;
        background: #fff;

        .right_block {
            padding: px-to-rem(20px);
            height: px-to-rem(600px);
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }

            .title {
                width: 100%;
                color: #afafaf;
                font-size: px-to-rem(18px);
                text-align: center;
                margin-top: px-to-rem(50px);
            }

            .dish {
                display: flex;
                height: px-to-rem(100px);
                margin-top: px-to-rem(20px);
                border-bottom: 1px solid #eceaea;
                padding-bottom: px-to-rem(10px);
                .dish_left {
                    width: px-to-rem(100px);
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .dish_right {
                    padding: px-to-rem(5px) px-to-rem(10px);
                    width: calc(100% - px-to-rem(100px));
                    height: 100%;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    // 单行省略号
                    .dish_name {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: px-to-rem(18px);
                        font-weight: 500;
                    }

                    .dish_desc {
                        height: px-to-rem(42px);
                        width: 100%;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* 限制最多 2 行 */
                        -webkit-box-orient: vertical; /* 必须保留，否则无法生效 */
                        line-height: 1;
                        font-size: px-to-rem(14px);
                        color: #a5a5a5;
                        /* 补充：确保没有强制不换行的样式 */
                        word-wrap: break-word;
                    }

                    .price {
                        font-size: px-to-rem(18px);
                        font-weight: 500;
                        display: flex;
                        justify-content: space-between;
                        text-align: right;
                        &-starting {
                            font-size: px-to-rem(12px);
                            margin-left: px-to-rem(4px);
                            color: #afafaf;
                        }

                        div {
                            width: px-to-rem(80px);
                            display: flex;
                            justify-content: space-between;
                        }

                        .add {
                            width: px-to-rem(30px);
                            ion-icon {
                                width: 100%;
                                color: #e36d15;
                            }
                        }
                    }
                }
            }
        }
    }
}
