@use "px-to-rem" as *;

.menu-container {
    --ion-background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.category-list {
    width: 100%;
    height: px-to-rem(40px);
    display: flex;
    background: #f5f5f5 !important;
    overflow-x: scroll;
    // padding: 0 px-to-rem(10px);
    font-size: px-to-rem(14px);

    .category-item {
        background-color: #f5f5f5;
        width: px-to-rem(100px);
        display: block;
        line-height: px-to-rem(40px);
        span {
            background-color: #f5f5f5;

            width: px-to-rem(100px);
            text-align: center;
            display: inline-block;
        }
    }
    .active {
        background-color: #fff;
        color: #e36d15;
        span {
            background-color: #fff;
        }
    }
}
