<ion-content class="menu-container">
    <!-- Header -->
    <app-menu-header></app-menu-header>

    <!-- Main Content -->
    <main class="menu-main">
        <aside class="category-nav" #categoryNav>
            <div class="category-list">
                @for (category of menuData(); track category.categoryId) {
                    <div
                        class="category-item"
                        [class.active]="currentCategory() === category.categoryId"
                        (click)="selectCategory(category.categoryId)"
                    >
                        <span> {{ category | i18nField: 'categoryName' }}</span>
                    </div>
                }
            </div>
        </aside>
        <ion-segment-view>
            <ion-segment-content id="first">First</ion-segment-content>
            <ion-segment-content id="second">Second</ion-segment-content>
            <ion-segment-content id="third">Third</ion-segment-content>
            <ion-segment-content id="1">1</ion-segment-content>
            <ion-segment-content id="2">2</ion-segment-content>
            <ion-segment-content id="3">3</ion-segment-content>
        </ion-segment-view>


        <!-- Right Menu Content -->
        <!-- <section class="menu-content" #menuContent>
      <div class="menu-items">
        @for (item of currentMenu(); track item.productId) {
          <div class="menu-item">
            <div class="item-image">
              <img [src]="item.imageUrl" [alt]="item.productNameCn" />
            </div>
            <div class="item-info">
              <h3 class="item-name">{{ item.productNameCn }}</h3>
              <p class="item-description">{{ item.descriptionCn }}</p>
              <div class="item-price">From {{ item.price }}</div>
            </div>
            <div class="item-actions">
              <button class="add-to-cart-btn">
                <ion-icon name="add-outline"></ion-icon>
              </button>
            </div>
          </div>
        }
      </div>
    </section> -->
    </main>

    <!-- Footer Cart -->
    <footer class="menu-footer">
        <app-cart-summary></app-cart-summary>
    </footer>
</ion-content>
